button {
  color:black;
  background-color: #e7c5ed;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-transform: none;
  text-decoration: none;
  width: 25%;
  height: 50px;
  letter-spacing: 5px;
  font-size: 1.5rem;
  padding: 7px

}
button:hover{
  background-color: #6253a3;
  color:#cfccde
}
.welcome {
  background-color: #e6e1ed;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1605347086577-706b21474ed7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
  background-size: cover;
  height: 1000px;
  opacity: 0.75
}
.game{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  background-image: url(https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?cs=srgb&dl=pexels-fwstudio-129731.jpg&fm=jpg);
  background-size: cover;

}


h1{
  font-size: 60px;
  background-color: #e6e1ed;
  margin: 70px;
  border: 2px solid black
}
h3 {
  font-size: 40px;
  display: block;
  padding: 10px;
  background-color: #e6e1ed;
  margin: 30px;
  margin: 70px;
  border: 2px solid black
}
span {
font-style:italic;

}