.button, .play-again {
  color:black;
  text-align: center;
  background-color: #ebe4f2;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-transform: none;
  text-decoration:none;
  width: 25%;
  height: 50px;
  letter-spacing: 5px;
  font-size: 115%;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.play-again:hover{
  background-color: #1c012b;
  color: #ebe4f2
}
.button:hover{
  background-color: #6253a3;
  color:#cfccde
}

.welcome {
  background-color: #e6e1ed;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  background-image: url(https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?cs=srgb&dl=pexels-fwstudio-129731.jpg&fm=jpg);
  background-size: cover;
  height: 1000px;
  opacity: 0.75
}

.game, .score{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  background-image: url(https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?cs=srgb&dl=pexels-fwstudio-129731.jpg&fm=jpg);
  background-size: cover;
  margin-bottom: 0;
}

h1{
  font-size: 50px;
  margin: 70px;
}
.gametitle{
  border: 2px solid black;
}

h3 {
  font-size: 40px;
  display: block;
  padding: 10px;
  background-color: #e6e1ed;
  margin: 30px;
  margin: 70px;
  border: 2px solid black;
  /* border-radius: 1.5cm; */
}

span {
font-style:italic;
}

.board {
  display: grid;
  grid-template-columns: 90px 90px 90px 90px 90px 90px 90px;
  grid-template-rows: 90px 90px 90px 90px 90px;
  justify-content: center;
  grid-gap: 2px;
}

.space {
  background-color: #ebe4f2;
  border-radius: 3cm;
  color: rgba(255,255,255, 0)
}

.black {
  background-color: black;
}

.disable{
  pointer-events: none;
}

.purple{
color: #b091c9
}
.pink{
  color: #d97c7c
}
.win-msg{
font-size: 175%;
font-style: italic;
}